[submodule "css-fundamentals"]
	path = css-fundamentals
	url = https://github.com/Akshay-Tarde/css-fundamentals.git
[submodule "responsiveness-kp"]
	path = responsiveness-kp
	url = https://github.com/Akshay-Tarde/responsiveness-kp.git
[submodule "steppingupstyle"]
	path = steppingupstyle
	url = https://github.com/Akshay-Tarde/steppingupstyle.git
[submodule "kp-last-module"]
	path = kp-last-module
	url = https://github.com/Akshay-Tarde/kp-last-module.git
[submodule "frontendmentor"]
	path = frontendmentor
	url = https://github.com/Akshay-Tarde/frontendmentor.git
